.cell {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: grey;
    outline: 1px solid black;
}

.cellWhite{
    background-color: linen;
}

.cellRing {
    margin: auto;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 4px solid gold;
    border-top: 4px solid darkgoldenrod;
    animation: spin 2s linear infinite;
    outline: none;
    background: white;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}